html,
body,
#app,
.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.com-view,
.com-container,
.com-chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  border-radius: 20px;
}
